---
permalink: /404.html
---
<!DOCTYPE html>
<html>
  <head>
    <title>LFNW: 404 Not Found</title>
    <link href="{{ "/assets/css/solarized-dark.css" | prepend: site.baseurl }}" rel="stylesheet">
      <style>
        h1 {
          text-align: center;
          color: #859900;
        }
        p {
          margin-top: 0;
        }
        p.text-center {
          text-align: center;
        }
        hr {
          height: 0px;
          border: 2px solid #839496;
        }
        img.float-left {
          float: left;
          padding: 0 20px 20px 0;
        }
        .blink {
          animation: blinker 1s step-start infinite;
        }
        @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
      </style>
  </head>
  <body>
    <!-- This file lives in public/500.html -->
    <h1>404 Not Found<span class="blink">_</span></h1>
    <img class="float-left" src="{{ "/assets/img/greg-and-kevin-typing.gif" | prepend: site.baseurl }}" alt="We're working on it...">

    <p>That thing you're looking for... it doesn't exist. Maybe we moved it? If you got here from a link, please <a href="info@linuxfestnorthwest.org">email us</a> with the source so we can try to straighten things out.</p>

    <hr>

    <p class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/">LFNW Blog</a>
      &bull;
      <a href="https://lfnw.org">LFNW Conference</a>
    </p>

    <div style="clear: both"></div>
  </body>
</html>
