@import "bootstrap-4.1.3/bootstrap";

/*
 * Color variables - http://chir.ag/projects/name-that-color
 */

$pickled-bluewood: #304858;
$steel-blue: #3e7f9e;
$tulip-tree: #e9b547;
$asparagus: #77954a;

/*
 * Font set variables
 */

$header-fonts: "Ubuntu","Open Sans","Tahoma",sans;
$text-fonts: "Open Sans","Tahoma",sans;

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: url("#{ $baseurl }/assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal; /* or 400 */
  src: url("#{ $baseurl }/assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal; /* or 400 */
  src: url("#{ $baseurl }/assets/fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold; /* or 700 */
  src: url("#{ $baseurl }/assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: url("#{ $baseurl }/assets/fonts/OpenSans-BoldItalic.ttf");
}
/*
 * LFNW 2019 style
 */

body {
  background-color: white;
  font-family: $text-fonts;

  a {
    color: $steel-blue;
    &:hover {
      color: $asparagus;
    }
  }

  .navbar.sticky-top {
    background-color: $pickled-bluewood !important;
    a.navbar-brand {
      color: white;
      &:hover {
        color: $tulip-tree !important;
      }
    }
    .nav-item.active {
      a {
        color: white;
        &:hover {
          color: $tulip-tree !important;
        }
      }
    }
    .nav-item {
      a {
        color: $steel-blue;
        &:hover {
          color: $tulip-tree !important;
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-fonts;
    font-weight: bold;
  }

  .btn.btn-success {
    border-color: $tulip-tree;
    background-color: $tulip-tree;
  }

  .thumbnail {
    border-radius: 8px;
    border: none;

    &:hover {
      text-decoration: none;
    }
  }

  blockquote {
    border-left: 2px solid lightgray;
    padding-left: 1em;
    margin-left: 2em;
    margin-right: 3em;
    opacity: 0.8;
  }

  #banner {
    background-color: $steel-blue;
    background-image: url("#{ $baseurl }/assets/img/trees-white.png");
    background-image: url("#{ $baseurl }/assets/img/trees-white.png"), linear-gradient(0deg, $tulip-tree 0%, $steel-blue 15%, $steel-blue 95%, $pickled-bluewood 100%);
    background-position: bottom center;
    background-repeat: repeat-x;

    h2, h3, h4, h5, h6 {
      color: $tulip-tree !important;
      font-weight: bold;
    }

    #header {
      background: none !important;
      padding: 20px 10px 75px;
      h1 {
        margin-top: 0 !important;
      }

      h2 {
        margin-top: 0 !important;
        font-size: 1.4em;
        @include media-breakpoint-up(sm) {
          font-size: 1.55em;
        }
        @include media-breakpoint-up(md) {
          font-size: 1.7em;
          white-space: nowrap;
        }
        @include media-breakpoint-up(lg) {
          font-size: 2.1em;
          white-space: nowrap;
        }

        a {
          text-decoration: none;
          color: inherit !important;
        }

        span + span {
          &::before {
            content: '\2022'
          }
        }
      }
    }
  }

  section + #social {
    background-color: $asparagus;
    background-image: url("#{ $baseurl }/assets/img/trees_outline-white.png");
    background-image: url("#{ $baseurl }/assets/img/trees_outline-white.png"), linear-gradient(0deg, $steel-blue 30%, $asparagus 80%);
    background-position: top center;
    background-repeat: repeat-x;

    padding: 80px 10px 10px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $tulip-tree;
      }

      font-size: 200% !important;
      @include media-breakpoint-up(sm) {
        font-size: 300% !important;
      }
      @include media-breakpoint-up(lg) {
        font-size: 400% !important;
      }
    }
  }

  .pagination {
    .page-item.active {
      a.page-link {
        color: white;
        background-color: $steel-blue;
        &:hover {
          color: white;
        }
      }
    }
    .page-item {
      a.page-link {
        color: white;
        background-color: $pickled-bluewood;
        &:hover {
          color: $tulip-tree;
        }
      }
    }
  }

  footer {
    background: $steel-blue;
    color: $pickled-bluewood;
    * {
      font-weight: bold !important;
    }

    a {
      color: white;
      &:hover {
        color: $tulip-tree;
        text-decoration: none;
      }
    }
  }

  .post-header {
    margin-bottom: 1em;
  }

  #byline {
    font-style: italic;
  }

  #social-media-posts {
    a {
      text-decoration: none;
      margin-left: 1em;
      color: $steel-blue;

      &:hover {
        color: $tulip-tree;
      }
    }
  }
}
