---
layout: default
---
<section>
  <article class="post h-entry container" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <div class="post-meta d-flex justify-content-end">
        <div id="byline">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: site.dateformat }}
          </time>
          {%- if page.author -%}
            &bull; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
        </div>

        <div id="social-media-posts">
          {% if page.fb_post_id %}
            <a href="https://www.facebook.com/{{ site.facebook }}/posts/{{ page.fb_post_id }}">
              <i class="fab fa-facebook" aria-label="facebook post"></i>
            </a>
          {% endif %}
          {% if page.tweet_id %}
            <a href="https://twitter.com/{{ site.twitter }}/status/{{ page.tweet_id }}">
              <i class="fab fa-twitter" aria-label="twitter tweet"></i>
            </a>
          {% endif %}
          {% if page.instagram_post_id %}
            <a href="https://www.instagram.com/p/{{ site.instagram_post_id }}">
              <i class="fab fa-instagram" aria-label="instagram post"></i>
            </a>
          {% endif %}
          {% if page.mastodon_toot_id %}
            <a href="{{ site.mastodon_url }}/{{ page.mastodon_toot_id }}">
              <i class="fab fa-mastodon" aria-label="mastodon toot"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <hr/>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</section>
